@use '../global' as v;

.p-cta__title {
  font-size: 35px;
  color: v.$white;
  font-weight: 700;
  line-height: 150%; /* 52.5px */
  letter-spacing: 1.75px;
  white-space: nowrap;

  @media (max-width: 767px) {
    font-size: 26px;
    letter-spacing: 1.3px;
    white-space: normal;
    text-align: center;
  }
}

.p-cta__text {
  font-size: 16px;
  color: v.$white;
  font-weight: 500;
  line-height: 180%; /* 28.8px */
  letter-spacing: 0.8px;
  max-width: 578px;

  @media (max-width: 767px) {
    font-size: 15px;
    letter-spacing: 0.75px;
    max-width: 100%;
    text-align: left;
  }
}
