$font-jp:"Noto Sans JP", sans-serif;
$font-en:"Montserrat", sans-serif;

$white: #FFFFFF;
$main-color: #66B1C5;
$light-blue: #ECF6F9;
$gray-bg: #F7F7F7;
$text-main: #274B66;
$text-form: #B4ADAD;
$accent-red: #DC5D5C;
$accent-yellow: #E9C243;