@use '../global' as v;

.l-course-modal {
  position: fixed;
  inset: 0;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition:
    opacity 0.35s ease,
    visibility 0.35s ease;
}

.l-course-modal.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.l-course-modal__overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%), #ecf6f9;
}

.l-course-modal__box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: min(90%, 905px);
  transform: translate(-50%, -50%);
  z-index: 1;

  @media (max-width: 767px) {
    top: 56%;
    width: min(89.333%, 335px);
  }
}

.l-course-modal__content {
  position: relative;
  width: 100%;
  background: #fff;
  border-radius: 20px;
  padding: 80px 120px;
  transform: scale(0.96);
  transform-origin: center;
  transition: transform 0.35s ease;
  max-height: calc(100dvh - 120px);
  overflow-y: auto;

  @media (max-width: 767px) {
    border-radius: 30px;
    padding: 40px 16px;
    max-height: calc(100dvh - 180px);
  }
}

.l-course-modal.is-open .l-course-modal__content {
  transform: scale(1);
}

.p-course-modal__section-title {
  position: absolute;
  top: -87px;
  left: 0;
  z-index: 3;

  @media (min-width: 768px) {
    display: none;
  }
}

.l-course-modal__icon {
  position: absolute;
  bottom: -13px;
  left: -99px;

  img {
    display: block;
    width: 112px;
    height: auto;
  }

  @media (max-width: 767px) {
    top: -89px;
    right: 10px;
    bottom: auto;
    left: auto;

    img {
      width: 72px;
    }
  }
}

.l-course-modal__inner {
  display: grid;
  gap: 40px;

  @media (max-width: 767px) {
    gap: 24px;
  }
}

.l-course-modal__block {
  display: grid;
  gap: 20px;

  @media (max-width: 767px) {
    gap: 16px;
  }
}

.l-course-modal__head {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;

  @media (max-width: 767px) {
    gap: 4px;
    padding-inline: 16px;
  }
}
