@use '../global' as v;

.l-course {
  background: v.$light-blue;
}

.l-course-inner {
  position: relative;
}

.l-course__icon {
  position: absolute;
  bottom: -6px;
  right: calc(50% + 440px);

  @media (max-width: 1200px) {
    right: 30px;
    top: -50px;
    bottom: 0;
  }

  @media (max-width: 767px) {
    top: -8px;
    bottom: 0;
    right: 31px;
  }
}

.l-course__title {
  @media (max-width: 767px) {
    align-items: start;
  }
}

.l-course-contents {
  margin-block-start: 60px;

  @media (max-width: 767px) {
    margin-block-start: 40px;
  }
}

.l-course-panelWrap {
  margin-block-end: 24px;

  @media (max-width: 767px) {
    margin-block-end: 32px;
  }
}

.l-course-panelWrap2 {
  margin-block-end: 32px;
}

.l-course-panel__title {
  margin-block-end: 12px;
}

.l-course-modal-button {
  text-align: center;
}
